html,
body {
  height: 100%;
  margin: 10px;
}

 h1 {
	background-color: #27647b;
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: .75rem;
}

.home-page {
	text-align: center;
	margin-bottom: 30px;
}
.video {
	text-align: center;
}

.video-title {

}
