html,
body {
  height: 100%;
	margin: 10px;
	font-family: 'Open Sans', sans-serif;
}

 h1 {
	background-color: #27647b;
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: .75rem;
	margin: 0;
}
 h1, a {
	text-decoration: none;
	color: white;
 }

.home-page {
	text-align: center;
	margin-bottom: 30px;
}
.video {
	text-align: center;
	margin-top: 0;
	padding-top: 0;
}

.video-title {
/* placeholder for styles */
}

.choices {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: .75rem 0 1rem;
}

button {
	margin: .25rem;
	border-top: 1px solid #96d1f8;
	background: #aec8c9;
	background: -webkit-linear-gradient(top, #27657b, #aec8c9);
	background: -moz-linear-gradient(top, #27657b, #aec8c9);
	background: -ms-linear-gradient(top, #27657b, #aec8c9);
	background: -o-linear-gradient(top, #27657b, #aec8c9);
	padding: 7.5px 15px;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
	-moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
	box-shadow: rgba(0,0,0,1) 0 1px 0;
	text-shadow: rgba(0,0,0,.4) 0 1px 0;
	color: #ffffff;
	font-size: 14px;
	font-family: Helvetica, Arial, Sans-Serif;
	text-decoration: none;
	vertical-align: middle;
}
button:hover {
	border-top-color: #27657b;
	background: #27657b;
	color: #ffffff;
}
button:active {
	border-top-color: #1b435e;
	background: #1b435e;
}

.youtube-video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 aspect ratio */
	padding-top: 25px;
	height: 0;
}

.youtube-video-iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* The next three blocks hide the video title that shows on mouse hover. */
iframe {
	z-index: 0;
}

#imagehidestitle {
	z-index: 1;
	width: 102%;
	height: 60px;
	position: absolute;
	top: 0;
	left: 0;
}

#whatlanguage {
	z-index: 2;
	width: 100%;
	position: absolute;
	top: 20px;
}

.adminsort {
	background-color: transparent;
	border: none;
	color: #007bfc;
	cursor: pointer;
}

.adminsort:hover {
	text-decoration: underline;
	color: #6257b3;
}

@media screen and (min-width: 800px) {
	.sidebars {
		position: static;
		max-width: 80%;
		margin-left: auto;
		margin-right: auto;
	}
	.youtube-video-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
}

@media screen and (min-width: 1400px) {
	.sidebars {
		max-width: 1120px; /* 80% width of screen */
	}
}