html,
body {
  height: 100%;
	margin: 10px;
	font-family: 'Open Sans', sans-serif;
}

 h1 {
	background-color: #27647b;
	color: white;
	font-family: 'Lato', sans-serif;
	text-align: center;
	padding: .75rem;
}

.home-page {
	text-align: center;
	margin-bottom: 30px;
}
.video {
	text-align: center;
}

.video-title {
/* placeholder for styles */
}

.choices {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#choice1, 
#choice2, 
#choice3 {
	margin: .25rem;
}