 <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <script>
window.addEventListener("load", function () {
  function sendData() {
    var XHR = new XMLHttpRequest();

    // Bind the FormData object and the form element
    var FD = new FormData(form);

    // Define what happens on successful data submission
    XHR.addEventListener("load", function(event) {
    var myWindow = window.open("", "MsgWindow", "width=2000,height=1000");
      myWindow.document.write(event.target.responseText)
    });

    // Define what happens in case of error
    XHR.addEventListener("error", function(event) {
      alert('Oops! Something went wrong.');
    });

    // Set up our request
    XHR.open("POST", "http://localhost:4000/api/videos");

    // The data sent is what the user provided in the form
    XHR.send(FD);
  }
 
  // Access the form element...
  var form = document.getElementById("myForm");

  // ...and take over its submit event.
  form.addEventListener("submit", function (event) {
    event.preventDefault();

    sendData();
  });
});
    </script>
  </head>
  <body>
  <form id="myForm">
  <label for="myName">Send me your video:</label>
 youtube_uuid:  <input id="youtube_uuid" name="youtube_uuid" value="youtube_uuid"><br>
title:   <input id="title" name="title" value="title"> <br>
  description: <input id="description" name="description" value="description"><br>
  published_at: <input id="published_at" name="published_at" value="2019-04-08T14:13:34Z"><br>
 youtube_channel_name:  <input id="youtube_channel_name" name="youtube_channel_name" value="Wikitongues"><br>
 youtube_channel_uuid: <input id="youtube_channel_uuid" name="youtube_channel_uuid" value="UCBgWgQyEb5eTzvh4lLcuipQ">
  <input type="submit" value="Send Me!">
</form>
  </body>
</html>
